[Desktop Entry]
Name=Mini Player
Name[en_GB]=Mini Player
Name[es]=Mini Reproductor
Name[et]=Minimängija
Name[fr]=Mini lecteur
Name[hr]=Mini Svirač
Name[ja]=ミニプレーヤー
Name[km]=កម្មវិធី​ចាក់តូច
Name[nb]=Minispiller
Name[nds]=Mini-Player
Name[nl]=Mini-speler
Name[pa]=ਮਿੰਨੀ ਪਲੇਅਰ
Name[pl]=Odtwarzacz Mini
Name[pt]=Mini-Reprodutor
Name[pt_BR]=Mini-Reprodutor
Name[ro]=Mini lector
Name[sv]=Minispelare
Name[tr]=Mini Oynatıcı
Name[uk]=Мініпрогравач
Name[x-test]=xxMini Playerxx

Comment=Mini media player
Comment[en_GB]=Mini media player
Comment[es]=Mini-reproductor de medios
Comment[et]=Minimeediamängija
Comment[fr]=Mini lecteur de média
Comment[hr]=Mini svirač
Comment[ja]=ミニメディアプレーヤー
Comment[km]=កម្មវិធី​ចាក់​មេឌៀ​តូច
Comment[nb]=Mini mediespiller
Comment[nds]=Lierlütt Medienafspeler
Comment[nl]=Mini-mediaspeler
Comment[pa]=ਮਿੰਨੀ ਮੀਡਿਆ ਪਲੇਅਰ
Comment[pl]=Odtwarzacz multimediów Mini
Comment[pt]=Mini reprodutor multimédia
Comment[pt_BR]=Mini reprodutor multimídia
Comment[ro]=Lector multimedia în miniatură
Comment[sv]=Minimediaspelare
Comment[tr]=Mini ortam oynatıcı
Comment[uk]=Мініатюрний медіапрогравач
Comment[x-test]=xxMini media playerxx

Icon=applications-multimedia
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_miniplayer
X-KDE-PluginInfo-Author=Michał Dutkiewicz aka Emdek
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Name=miniplayer
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://emdek.cba.pl/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-DropMimeTypes=video/ogg,video/x-theora+ogg,video/x-ogm+ogg,video/x-ms-wmv,video/x-msvideo,video/x-ms-asf,video/x-matroska,video/mpeg,video/avi,video/quicktime,video/vnd.rn-realvideo,video/x-flic,video/mp4,video/x-flv,video/3gpp,application/ogg,audio/x-vorbis+ogg,audio/mpeg,audio/x-flac,audio/x-flac+ogg,audio/x-musepack,audio/x-scpls,audio/x-mpegurl,application/xspf+xml,audio/x-ms-asx
X-Plasma-NotificationArea=true
